<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Browser Page</title>
     
</head>
<body>
        <h1>Login page</h1>
        <form method="POST">
            {%csrf_token%}
            <table border="1px">
                <tr>
                    <th>Username</th>
                     <td><input type="text" name="Username" required></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="email" name="email" required></td>
                </tr> 
                <tr>
                    <th>ContactNo</th>
                    <td><input type="ContactNo" name="ContactNo" required></td>
                </tr> 
                <tr>
                    <th>Password</th>
                    <td><input type="password" name="password" required></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <button type="submit">Submit</button>
                    </td>                                                 
                </tr>
            </table>               
        </form>

</body>
</html>
